In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('df_sample.csv')
data.head()

,Age,Title,Review,Rating,Recommend,Positive Feedback Count,Department Name,Class Name,Review Length
0,37,Better than i expected!!,These are colors i normally never wear...baby ...,5,1,4,Tops,Fine gauge,523
1,37,Really cute!,"What a great, easy to wear jumpsuit! i love th...",5,1,1,Bottoms,Pants,297
2,63,Design too fluorescent,I loved the lavender color on the cape. it was...,3,1,0,Intimate,Lounge,522
3,34,Classic,This dress is beautifully constructed. it is v...,5,1,0,Dresses,Dresses,268
4,44,Boxy,"This sweater was unflattering me, very boxy an...",3,0,0,Tops,Sweaters,146

In [5]:
data_1 = pd.read_csv('dash_df.csv')
data_1.head()

,Age,Title,Review,Rating,Recommend,Positive Feedback Count,Division Name,Department Name,Class Name,Review Length
0,49,A little too flowy for me,"This is a really cute dress, just did not look...",2,1,1,General Petite,Dresses,Dresses,525
1,38,Cute dress size down,I'm usually a 6 in dresses and the 6 here fit ...,3,1,6,General Petite,Dresses,Dresses,520
2,61,Weird shape,The pattern is very adorable. unfortunately th...,2,0,23,General,Tops,Blouses,334
3,56,Great shirt,This shirt is more stunning in person. the col...,5,1,8,General,Tops,Knits,181
4,69,So cute and great fit,I am so pleased with this top! it is slightly ...,5,1,5,General,Tops,Knits,290